/*------------------------------------*\
    # HERO BANNER
\*------------------------------------*/

.banner--hero {
	background: center center url('/wp-content/themes/historic-motorsport/library/images/sports-race-cars-shropshire.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 350px;
	//background-color: #f2f2f2;
	margin-bottom: 3em;
	position: relative;
	text-align: center;
	
	h1 {
		color: #fff;
		line-height: 1.1em;
		margin: 0.5em 0em 0.25em 0em;
		}
		
	.subheader {
		display: none;
	}
	
	.overlay {
		padding: 1.5em 0em;
		position: absolute;
		height: 100%;
		width: 100%;
		text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
	}
	
	.call-to-action {
		margin: 1.5em 0em;
		text-shadow: none;
		box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
	}
	
}


@media #{$medium-up}{ 

	.banner--hero {
		min-height: 25em;
	
		.overlay {
			padding: 3em 0em;
		}
		
	}
	
}

@media #{$large-up}{  
	
	.banner--hero {
		min-height: 33em;
		
		h1 {
			font-size: 3.75em;
			margin: 1em 0em 0.5em 0em;
		}
		
		.subheader {
			color: darken(#fff, 10%);
			display: block;
		}
		
	}
	
}



.columns .loop-car__item h4 {
	font-size: 1.125rem;
}



.car-loop__item {
	position: relative;
	margin-bottom: 1rem;
	&:hover {
		.car-loop__title {
			display: block;
		}
	}
}



.car-loop__title {
	position: absolute;
	top:0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	padding: 1em;
	text-align: center;
	display: none;
	.headline, .headline small {
		color: #fff;
		font-size: 1.125rem;
	}
}



.car-loop__image {
	
}



.garage-image {
	margin-bottom: 1rem;
}
