.s-car-single__headline, .s-car-single__header {
	padding: 3rem 0rem;
	background-color: #1E1E1E;
	margin-top: -4.5em; /* Sets this to 'underlap' the images, needs to be greater than
						   the padding on the .s-car-single__images */
}



.s-car-single__images {
	padding: 3em 0em;
	@include css-gradient($jet,$tuatara);
	.master-slider {
		box-shadow: 0px 0px 0.25em 0.25em rgba(44, 44, 44, 0.18);
	}
}



.s-car-single__description {
	@include grid-column(12);
}



.s-car-single__details {
	@include grid-column(12);
}

.car-single__details {
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
	   -moz-column-count: 2; /* Firefox */
	        column-count: 2;
}



@media #{$medium-up}{
	
	.s-car-single__description {
		@include grid-column(6);		
	}
	
	.car-single__description {
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
	   -moz-column-count: 2; /* Firefox */
	        column-count: 2;
	}

	.s-car-single__details {
		@include grid-column(6);
		//text-align: right;
	}
	
}



@media #{$large-up}{
	
	.s-car-single__description {
		@include grid-column(7);		
	}
	
	.car-single__description {
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
	   -moz-column-count: 2; /* Firefox */
	        column-count: 2;
	}

	.s-car-single__details {
		@include grid-column(5);
		//text-align: right;
	}
	
}



.car-single__headline {
	color: #fafafa;
}


.car-single__details {
	dt {
		color: $primary-color;
		margin-bottom: 0em;
	}
}


