.woocommerce {
	
	// Change colour of WooCommerce buttons
	#respond input#submit.alt, a.button.alt, button.button.alt {
		background-color: $secondary-color;
		&:hover {
			background-color: darken($secondary-color,10%);
		}
	}
	
	div.product {
		.product_title {
			letter-spacing: -1px;
			font-weight: 700;
		}
		// Change the display of the WooCommerce tabs
		 .woocommerce-tabs {
			  .panel {
				  border-top: none;
				  background-color: #fff;
				  padding: 1.5em;
				  h2 {
					  font-size: 1.25rem;
				  }
			  }
		 }
	} 
}
