


hr {
	margin: 3em auto;
	max-width: 45%;
	}



a.bright {
	color: $secondary-color;
	font-weight: bold;
}


.columnar {
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
       -moz-column-count: 1; /* Firefox */
            column-count: 1;
      -webkit-column-gap: 1.5rem; /* Chrome, Safari, Opera */
	     -moz-column-gap: 1.5rem; /* Firefox */
	          column-gap: 1.5rem;
}

	@media #{$medium-up}{
		.columnar {
		    -webkit-column-count: 2; /* Chrome, Safari, Opera */
		       -moz-column-count: 2; /* Firefox */
		            column-count: 2;
		}
	}
	
	@media #{$large-up}{
		.columnar {
		    -webkit-column-count: 3; /* Chrome, Safari, Opera */
		       -moz-column-count: 3; /* Firefox */
		            column-count: 3;
		}
	}



.overlay {
	background-color: rgba(0, 0, 0, 0.5);
}


.thumbnail {
	max-width: 150px;
}



article {
	margin-bottom: 1.5em;
}



.logo {
	text-align: center;
}

@media #{$medium-up}{ 
	
	.logo {
		text-align: left;
	}
	
}




/*------------------------------------*\
    #BANNERS
\*------------------------------------*/


.banner {
    background: none repeat scroll 0% 0% $secondary-color;
    color: #FFF;
    line-height: 2em;
    margin: 0.75em 50px;
    padding: 0px;
    position: relative;
    text-align: center;
    }



.banner::after, .banner::before {
	
    border-top:    1em solid $secondary-color;   
    border-bottom: 1em solid $secondary-color;
    border-left:   1em solid transparent;
    
    content: ".";
    display: block;
    height: 0px;
    overflow: hidden;
    position: absolute;
    left: -1em;
    top: 0px;
    width: 0px;
    }
    
    
    
.banner::after {
	border-right: 1em solid transparent;
	 border-left: medium none;
	left: auto;
	right: -1em;
	}
	
	
	
	
	
	
.page-section {
	padding: 3rem 0em;
}



.s-page-title {
	padding: 3rem 0em;
}


/*------------------------------------*\
    # CALL TO ACTION
       This creates a button like area
       that can be reused to create
       large call-out spaces    
\*------------------------------------*/

.call-to-action {
	background-color: $action-color;
	background-image: url('/wp-content/themes/historic-motorsport/library/images/flag-trans.png');
	background-position: right center;
	background-size: 50%;
	background-repeat: no-repeat;
	border-bottom: 5px solid darken($action-color, 10%);
	text-align: center;
	color: #fff;
	padding: 0.5em 1em;
	
	&:hover {
		background-color: darken($action-color, 10%);
	}
	
	a {
		color: #fff;
		text-decoration: underline;
		
		&:hover {
			color: darken(#fff, 10%);
		}
		
	}
	
}



.product_meta {
	margin-top: 1.5em;
	text-transform: uppercase;
	font-size: 0.75rem;
	letter-spacing: 1px;
	
	span {
		margin-right: $base-line-height;
	}
	
}





/*------------------------------------*\
    # Image Alignment
\*------------------------------------*/

.alignleft, .alignright, .aligncenter {
	margin: $base-line-height 0em;
}

.alignleft {
	float: left;
	margin-right: $base-line-height;
}

.alignright {
	float: right;
	margin-left: $base-line-height;
}

.aligncenter {
	float: none;
	margin: $base-line-height auto;
	text-align: center;
}