/*********************
NAVIGATION STYLES
*********************/
.top-bar {
	.title-area {
		z-index: 1;
	}
} 

.off-canvas-list {
	ul {
		margin-left: 0;
		li {
			a {
				border-bottom: 0px;
			}
		}
		.dropdown {
			margin-left: 20px;
		}
	}
}






/******************************************************************
* # PRIMARY NAVIGATION STYLES
******************************************************************/

nav.primary {
	text-align: center;
	padding: 1.5em 0em;
	font-family: 'Lora',$font-family-serif;
	ul {
		list-style: none;
		margin: 0 auto;
		line-height: 5.5em;
		li {
			display: block;
			font-size: 1.5em;
			font-weight: bold;
			letter-spacing: -1px;
			border-bottom: 2px solid transparent;
			&:hover {
				border-bottom: 2px solid $secondary-color;
				background-color: rgba(0, 0, 0, 0.03);
				a {
					color: $secondary-color;
				}
			}
			a:hover {
				text-decoration: none;
			}
		}	
	}
}

@media #{$medium-up} { 
	nav.primary {
		text-align: right;
		ul {
			li {
				display: inline-block;
				padding: 0em 1em;
			}
			li.logo {
				display: inline-block;
				max-width: 200px;
			}
		}
	}
}






/******************************************************************
PAGE NAVI STYLES
******************************************************************/
.pagination {
	a {
		&:hover {
			color: black;
		}
	}
}






/******************************************************************
FOOTER NAVI STYLES
******************************************************************/
.footer nav {
	// text-align: center;
	margin: 0 auto;
	ul.sub-nav {
		display: inline-block;
		list-style: none;
		margin: 1.5em 0em;
		li {
			padding: 0em;
			margin: 0em 1.5em 0em 0em;
			text-align: left;
			font-size: 1rem;
			font-weight: bold;
			a {
				padding: 0em;
				color: $secondary-color;
				&:hover {
					color: lighten($secondary-color, 10%);
					text-decoration: underline;
				}
			}
		}
		li.active a, li.active a:hover {
			color: lighten($secondary-color,10%);
			background-color: transparent;
			border-bottom: 1px dotted #AAA;
			border-radius: 0px;
		}
	}
}

