/*********************
LINK STYLES
*********************/

body {
	font-family: $font-family-sans-serif;
}

a, a:visited {


	/*adds highlight on hover */
	&:hover, &:focus {
		text-decoration: underline;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 P STYLES
******************************************************************/
p {
	font-family: $font-family-sans-serif;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/
	
	//text-transform: capitalize;

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {

}

h2, .h2 {

}

h3, .h3 {

}

h4, .h4 {

}

h5, .h5 {

}

/*********************
HEADER STYLES
*********************/

.header {
	ul.off-canvas-list li {
		list-style: none;
	}
}



.bold {
	font-weight: bold;
}


small {
	font-family: $font-family-sans-serif;
}


.subheader {
	font-family: $font-family-sans-serif;
}


.headline {
	font-style: italic;
}



.headline--light {
	color: #e5e5e5;
}



.copyright, .copyright a {
	color: #e5e5e5;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 0.75rem;
}


/*------------------------------------*\
    #DEFINITION LISTS
\*------------------------------------*/
  
dl dd {
	margin-left: 0;
	margin-bottom: 1.5em;
}  
 
dl dt {
	font-weight: $font-weight-light;
	font-size: 0.9rem;
}



 
