/******************************************************************
Stylesheet: Main Stylesheet - this imports all the other styles
******************************************************************/

// This calls the Google Fonts
//@import "//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700";

//
// IMPORTING STYLES
//

// This calls the Normalize stylesheet to make styling across browsers much easier
@import "../../bower_components/foundation/scss/normalize";

// This calls the mixins that are used for this project
@import "mixins";

// This calls the Foundation settings, these are unique to this project and over-ride the default Foundation styles
@import "settings";

// This calls the Foundation Framework Styles
@import "../../bower_components/foundation/scss/foundation";

// joints.scss
@import "joints";

// Import Typography Styles
@import "typography";

// Import Navigation Styles
@import "navigation";

// Import Elements
@import "elements";

// Import Modules
@import "modules/modules";

// Import Page Specific files
@import "pages/pages";

// Import Vendor specific files
@import "vendor";

/*
MEDIUM
*/
@media #{$medium-up} { }
@media #{$large-up} { }
@media #{$xlarge-up} { } 

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio: 1.5) {

	// styles in 2x.scss
	@import "2x";

}


/*
PRINT STYLESHEET
Feel free to customize this. Remember to add things that won't make
sense to print at the bottom. Things like nav, ads, and forms should
be set to display none.
*/
@media print {
	@import "print";
}
