/*********************
FOOTER STYLES
*********************/

.footer {
	// text-align: center;
	clear: both;
	margin-top: 1em;
	padding: 1.5em 0em;
	font-size: 0.8rem;
	color: $primary-color;
	//background-color: #f8f8f8;
	.logo img {
		max-height: 125px;
		margin: 1.5em 0em;
	}
	.logo h5 {
		font-style: italic;
	}
}

	/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
	.footer-links {

		ul {

			li {}

		}

	} /* end .footer-links */


	.copyright { 
	}
	