/*------------------------------------*\
    #HEADER
\*------------------------------------*/

.site-header {
	@include padded-section;
	background-image: url('/wp-content/themes/historic-motorsport/library/images/flag-bkg.png');
	background-position: right center;
	background-size: cover;
	background-repeat: no-repeat;
	border-bottom: 5px solid $grey;
}