/*********************
POSTS & CONTENT STYLES
*********************/

#content {
	#inner-content {
		padding: 3rem 0rem;
	}
}

.hentry {

	header {}

	footer {}

} /* end .hentry */

.single-title,
.page-title {}

.single-title {}

.page-title {}

.archive-title { }

/* want to style individual post classes? Booya! */
.post-id {}         /* post by id (i.e. post-3) */
.post {}            /* general post style */
.page {}            /* general article on a page style */
.attachment {}      /* general style on an attatchment */
.sticky {}          /* sticky post style */
.hentry {}          /* hentry class */
.category-slug {}   /* style by category (i.e. category-videos) */
.tag-slug {}        /* style by tag (i.e. tag-news) */

/* post meta */
.byline {
	color: #999;
	time {}
}

/* entry content */
.entry-content {

	p {}

	ul, ol, table, dl {}

	ul, ol {

		li {}

		}

	ul {

		li {}

		}

	ol {

		li {}

		}

	blockquote {

		&:before {}

		}

	dl {}

	dt {}

	dd {}

	img {
		max-width: 100%;
		height: auto;
		}

		/*
		image alignment on a screen this size may be
		a bit difficult. It's set to start aligning
		and floating images at the next breakpoint,
		but it's up to you. Feel free to change it up.
		*/
	.alignleft, img.alignleft {}
	.alignright, img.alignright {}
	.aligncenter, img.aligncenter {}

	video, object {
		max-width: 100%;
		height: auto;
		}

	pre {
		background: #eee;
		border: 1px solid #cecece;
		padding: 10px;
		}

} /* end .entry-content */

@media #{$medium-up}{
	.entry-content {
			
		/* at this larger size, we can start to align images */
		.alignleft, img.alignleft { 
			margin-right: 1.5em; 
			display: inline; 
			float: left; 
		}
		.alignright, img.alignright { 
			margin-left: 1.5em; 
			display: inline; 
			float: right; 
		}
		.aligncenter, img.aligncenter { 
			margin-right: auto; 
			margin-left: auto; 
			display: block; 
			clear: both; 
		}
					
	} /* end .entry-content */
}





.wp-caption {
	max-width: 100%;
	background: #eee;
	padding: 5px;

	/* images inside wp-caption */
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
		}

	p.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
		}

} /* end .wp-caption */

/* image gallery styles */
	.gallery {

		dl {

			a {}

			img {}

		}

		dt {}

		dd {}

} /* end .gallery */

/* gallery caption styles */
.gallery-caption {}
.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

div[class^='m-banner'],div[class*=' m-banner'] {
	padding: 4.5em 0em;
	text-align: center;
	h1 {}
	h3 {}
}

// Featured cars re-usable module
.m-featured-cars {
	.m-featured-cars__single {
		text-align: center;
		img {
			margin-bottom: 1.5em;
		}
		h5 {
			text-transform: uppercase;
		}
	}
}
