/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
}

	#searchsubmit {
	}

	.widgettitle {}

	.widget {

		ul {
			margin: 0;

			li {
				list-style: none;

				&:first-child {}

				&:last-child {}

				a {}

				/* deep nesting */
				ul {}

			}

		}

	}

#sidebar-offcanvas {
	.widgettitle {
		color: #fff;
	}	
}
@media #{$medium-up}{
	.widget {
		padding: 0 10px;
		margin: 2.2em 0;
	}
}