/*------------------------------------*\
    # WOOCOMMERCE STYLES
\*------------------------------------*/

.woocommerce {
	
	
	// change the default color of the woocommerce info panel to the variable grey
	.woocommerce-info {
		background-color: $grey;
		border-top-color: $primary-color;
		&:before {
			color: $primary-color;
		}
	}
	
	
	// change the background color of the onsale flash from default to the secondary colour
	span.onsale {
		background-color: $secondary-color;
		&:hover {
			background-color: darken($secondary-color,10%);
		}
	}
	
	
}